.home-container {
	animation: appear 1s ease;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.hero-text {
	margin-top: 1rem;
	text-align: left;
	max-width: 40rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-indent: .4rem;
}

.hero-button {
	display: block;
	width: fit-content;
	background-color: rgb(46, 204, 204);
	padding: .5rem .8rem;
	border-radius: .5rem;
	margin-top: 1rem;
	text-align: left;
	cursor: pointer;
	color: black;
	text-decoration: none;
	margin-left: 1rem;
	font-weight: 500;
}
